.create-account-nav-bar-logo {
    width: 50px;
}

.nav-bar-background-color {
    background: rgb(251, 252, 67);
    background: radial-gradient(circle, rgba(251, 252, 67, 1) 0%, rgba(250, 166, 8, 1) 39%, rgba(237, 131, 58, 1) 67%, rgba(255, 0, 0, 1) 100%);
}

.nav-link {
    color: yellow;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}